{% extends 'visual/base.html' %}

{% block content %}



<body class="keen-dashboard">
    <div class="jumbotron">
        <h4 class="display-4">Instructions et plus de détails sur les méthodes de prévision</h4>
        <p class="lead">Pour une utilisation efficace de la fonctionnalité de prédiction, veuillez suivre les étapes
            suivantes:</p>
        <hr class="my-4">
    </div>

    {% endblock %}

    {% block scripts %}

    <script type="text/javascript">

    </script>
    {% endblock %}
</body>

</html>