{% extends 'visual/base.html' %}
{% block page_name %} Comparaison {% endblock %}
{% block content %}
                <!-- MAIN CONTENT GOES HERE -->
                <div class="row">
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <div id="accordion5" class="according accordion-s2 gradiant-bg">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link" data-toggle="collapse" href="#accordion51" aria-expanded="true">Filtrage des données</a>
                                        </div>
                                        <div id="accordion51" class="collapse" data-parent="#accordion5" >
                                            <div class="card-body">
                                                <form action="{% url 'customFilter'  %}" method="post" id="filter_form">
                                                {% csrf_token %}
                                                    <b class="text-muted mb-3 mt-4 d-block">Types de crimes</b>
                                                    {% for crime in crimes  %}
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input crimeBox" id="{{ crime }}" name="types[]" value="{{ crime }}">
                                                        <label class="custom-control-label" for="{{ crime }}">{{ crime }}</label>
                                                    </div>
                                                    {% endfor %}
                                                    <div class="form-row">
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="start_date" class="col-form-label">Date début</label>
                                                                <input class="form-control" name="startDate" type="date" value="2016-01-05" id="start_date">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <div class="form-group">
                                                                <label for="end_date" class="col-form-label">Date fin</label>
                                                                <input class="form-control" name="endDate" type="date" value="2016-03-05" id="end_date">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <label for="end_date" class="col-form-label">Arrestation</label>
                                                            <div class="form-group">
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" class="custom-control-input arrest" id="true" name="arrest[]" value="1">
                                                                    <label class="custom-control-label" for="true">Oui</label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox custom-control-inline">
                                                                    <input type="checkbox" class="custom-control-input arrest" id="false" name="arrest[]" value="0">
                                                                    <label class="custom-control-label" for="false">Non</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Calculer</button>

                                                 </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="graph" style="visibility: hidden">
                         <div class="col-xl-12 mt-2">
                            <div class="card">
                                <div class="card-body" id="mapParent">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h4 class="header-title">Type de crimes | intervalle: <span id="date-range"></span></h4>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="pull-right btn btn-rounded btn-primary mb-3"  onclick="toPNG('compareChart', 'comparaison')" ><span class="fa fa-download"></button>
                                        </div>
                                    </div>
                                    <div id="compareChart" style="width: 100%; height: 500px"></div>
                                </div>
                            </div>
                         </div>
                </div>
                <div class="row" id="table-all" style="visibility: hidden">
                    <div class="col-xl-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Crimes stats</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-primary">
                                                <tr class="text-white">
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Max</th>
                                                    <th scope="col">Min</th>
                                                    <th scope="col">Mediane</th>
                                                    <th scope="col">Total</th>
                                                    <th scope="col">Moyenne</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-body">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="table-corr" style="visibility: hidden">
                    <div class="col-xl-12 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Correlation</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-primary">
                                                <tr class="text-white">
                                                    <th scope="col">Type de crime</th>
                                                    <th scope="col">Correlation</th>

                                                </tr>
                                            </thead>
                                            <tbody id="table-body-corr">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    <div class="modal1"><!-- Place at bottom of page --></div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">

    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }
    });

        var token = '{{csrf_token}}';
        $(document).on('submit', '#filter_form', function(e){

            e.preventDefault();
            var crimesSelected = [];
            $(".crimeBox:checked").each(function () {
                crimesSelected.push(this.value)
            });
            var arrest = [];
            $(".arrest:checked").each(function () {
                arrest.push(this.value)
            });
            $.ajax({
                headers: { "X-CSRFToken": token },
                type:'POST',
                url:'../customFilter',
                data:{
                    types: crimesSelected,
                    startDate: $("#start_date").val(),
                    endDate: $("#end_date").val(),
                    arrest: arrest,
                },
                success : function (response) {
                    var element = document.getElementById('graph');
                    if(element.style.visibility =='hidden'){
                        element.style.visibility = 'visible';
                    };
                    var element = document.getElementById('table-all');
                    if(element.style.visibility =='hidden'){
                        element.style.visibility = 'visible';
                    };
                    var element = document.getElementById('table-corr');
                    if(element.style.visibility =='hidden'){
                        element.style.visibility = 'visible';
                    };

                    //console.log(JSON.parse(response));
                    makeComparaison(JSON.parse(response));

                },
                error : function (msg) {
                    alert('no response');
                }
            });
        }); 
    </script>
{% endblock %}
</body>

</html>
